.filter-chip-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.65rem;

  .mdc-evolution-chip-set__chips {
    gap: 0.65rem;
  }

  .mat-mdc-chip-option {
    --mdc-chip-elevated-container-color: var(--secondary);
    --mdc-chip-label-text-color: var(--font-main);
    --mdc-chip-with-icon-icon-color: var(--font-secondary);
    --mat-chip-elevated-selected-container-color: var(--primary);
    border-radius: var(--radius-pill);
    font-weight: 600;
  }

  .mat-mdc-chip-option.mdc-evolution-chip--selected {
    --mdc-chip-elevated-container-color: var(--primary-soft-hover);
    --mdc-chip-label-text-color: var(--font-main);
  }
}