<div class="media-gallery row g-3">
  <div class="col-12 col-lg-8">
    <div class="media-gallery__tile media-gallery__tile--primary">
      @if (gallery().featuredTag || gallery().videoTag) {
        <div class="media-gallery__badges">
          @if (gallery().featuredTag) {
            <span class="media-gallery__badge media-gallery__badge--featured">
              {{ gallery().featuredTag }}
            </span>
          }

          @if (gallery().videoTag) {
            <span class="media-gallery__badge media-gallery__badge--dark">
              {{ gallery().videoTag }}
            </span>
          }
        </div>
      }

      <img class="media-gallery__img" [src]="gallery().primaryImage" alt="Listing image" />

      @if (gallery().showPlay) {
        <button type="button" class="media-gallery__play" (click)="playVideo.emit()">
          <mat-icon fontSet="material-symbols-outlined">play_arrow</mat-icon>
        </button>
      }
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="media-gallery__stack">
      <div class="media-gallery__tile media-gallery__tile--secondary">
        <img class="media-gallery__img" [src]="topImage" alt="Listing image 2" />
      </div>

      <button
        type="button"
        class="media-gallery__tile media-gallery__tile--secondary media-gallery__tile--action"
        (click)="openGallery.emit()"
      >
        <img class="media-gallery__img" [src]="bottomImage" alt="Listing image 3" />

        @if ((gallery().moreCount || 0) > 0) {
          <span class="media-gallery__more">+ {{ gallery().moreCount }} more photos</span>
        }
      </button>
    </div>
  </div>
</div>