.listings-grid {
  display: grid;
  gap: 1.25rem;
  justify-content: start;

  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

/* Prevent single card stretch */
@media (min-width: 768px) {
  .listings-grid > * {
    max-width: 22rem;
  }
}
@media (max-width: 767.98px) {
  .listings-grid {
    justify-content: center;
  }
}