<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS: enable "URL Rewrite" and (optionally) "Static Content" if features are off.
  Serves static files when they exist; otherwise rewrites to index.html for the Angular router.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular - route to index.html" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/property.web/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
